<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodappp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/onlineorder_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodAppp">
        <activity
            android:name=".FavoriteActivity"
            android:exported="false"
            android:label="@string/title_activity_favorite"
            android:theme="@style/Theme.FoodAppp.NoActionBar" />
        <activity
            android:name=".activities.FoodDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Profile"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".activities.ViewAllActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".activities.BestSellerDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.WelcomeActivity"
            android:exported="false" />

        <activity
            android:name=".onboarding.OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name=".onboarding.SplashScreenActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FoodAppp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>